$primary-white: #fff;
$black: #000;
$black-07: rgba(0, 0, 0, 0.7);

$gray-25: #fcfcfc;
$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-400: #9da4ae;
$gray-500: #6c737f;
$gray-600: #4d5761;
$gray-700: #384250;
$gray-800: #1f2a37;
$gray-900: #111927;
$gray-950: #0d121c;

$pink-300: #eeaafd;
$pink-400: #e478fa;
$pink-500: #d444f1;
$pink-800: #821890;

$green-400: #2ED3B7;

$disabled-button: rgba(244, 244, 245, 0.1);
$delete-button: #f97066;
$warning-400: #fdb022;
$warning-900: #7a2e0e;
$error-400: #F97066;
$error-800: #912018;

$font-poppins: "Poppins", sans-serif;
