@import "@/styles/variables";

.root {
  height: 50px;
  width: 100%;
  background: $gray-950;
  border: 1px solid $gray-800;
  border-radius: 16px;
  padding: 12px;

  &.gameStarted {
    height: auto;
    border-bottom: 4px solid $pink-400;
    border-right: 1px solid $pink-400;
    border-left: 1px solid $pink-400;
    border-top: 1px solid $pink-400;
  }
}

.avatar {
  margin-right: 6px;
}

.Avataritem {
  max-width: 50%; /* Adjust as needed */
  overflow: hidden;
}

.opponentAvatar {
  margin-left: 6px;
}

.userName {
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;

  &.isUser {
    color: $pink-400;
  }
}

.bet {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: $pink-400;
}

.maximize {
  margin-right: 12px;

  &:hover {
    cursor: pointer;
  }
}

.trashIcon {
  &:hover {
    cursor: pointer;
  }
}

.actionsWrapper {
  margin-left: 12px;
  padding-top: 4px;
}

.avatarsGameStarted {
}

.fightButton {
  background: $primary-white;
  height: 36px;
  color: $black;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  margin-left: 12px;

  &:hover {
    cursor: pointer;
  }
}

.backToBattleButton {
  height: 40px;
  color: $black;
  background: $pink-400;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 12px;
  box-shadow:
    0px 2px 0px 0px #ffffff40 inset,
    0px -2px 0px 0px #00000040 inset;
}
