@import "@/styles/variables";

.root {
  border-radius: 50%;
  border: 3px solid $gray-700;
  &.active{
    border-color: $pink-400;
  }
}

.photo {
  border-radius: 50%;
  border: 1.5px solid $black;
}