@import "@/styles/variables";

.root {
  font-size: 32px;
  line-height: 48px;
  padding-right: 6px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.boxBorder {
  background: linear-gradient(180deg, #1f2a37 0%, rgba(31, 42, 55, 0) 100%);
  padding: 1px;
  width: 100%;
  height: 45vh;
  border-radius: 16px;
  margin-top: 24px;
}

.box {
  background: $gray-950;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.comingSoon {
  font-size: 20px;
  color: $gray-700;
}
