@import "@/styles/variables";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 16px 0 16px;
  font-family: $font-poppins;
}

.headerWrapper {
  margin-bottom: 24px;
}

.gameId {
  font-size: 32px;
  font-weight: 700;
  color: $pink-400;
  padding: 0 4px;
}

.header {
  font-size: 32px;
  line-height: 48px;
  padding-right: 6px;
}

.reloadIcon {
  &:hover {
    cursor: pointer;
  }
}

.namesPrizeWrapper {
  width: 100%;
  margin-bottom: 24px;
}

.timerWrapper {
  width: 100%;
  padding: 0 10px;
  margin-bottom: 12px;
}

.turn {
  font-size: 20px;
  font-weight: 400;
  color: $gray-500;
}

.timer {
  padding: 8px 12px;
  width: 70px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 45px;
  background: $gray-900;
  font-size: 20px;
  font-weight: 600;
  color: $pink-300;
}

.usenamesWrapper {
  width: 100%;
  margin-bottom: 16px;
}

.swordEmoji {
  font-size: 40px;
  padding: 0 20px;
}

.prizeOf {
  font-size: 16px;
  font-weight: 600;
  color: $gray-600;
}

.prize {
  font-size: 24px;
  font-weight: 600;
  color: $pink-300;
}

.prizeUsd {
  color: $gray-600;
}