@import "@/styles/variables";

.root {
  height: 50px;
  width: 100%;
  background: $gray-950;
  border: 1px solid $gray-800;
  border-radius: 16px;
  padding: 12px;

  &.gameStarted{
    height: auto;
    border-bottom: 4px solid $pink-400;
    border-right: 1px solid $pink-400;
    border-left: 1px solid $pink-400;
    border-top: 1px solid $pink-400;
  }
}

.avatarWrapper {
  border: 2px solid $gray-700;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $pink-800;
  margin: 0 6px;

  &.isUser {
    border: 2px solid $pink-400;
  }
}

.avatar {
  border-radius: 50%;
}

.userName {
  font-size: 14px;
  font-weight: 500;

  &.isUser {
    color: $pink-400;
  }
}

.bet {
  font-size: 16px;
  font-weight: 500;
  color: $pink-400;
}

.maximize {
  margin-right: 12px;

  &:hover {
    cursor: pointer;
  }
}

.trashIcon {
  &:hover {
    cursor: pointer;
  }
}

.actionsWrapper {
  margin-left: 12px;
  padding-top: 4px;
}

.avatarsGameStarted{

}
.fightButton {
  background: $primary-white;
  height: 36px;
  color: $black;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  margin-left: 12px;

  &:hover {
    cursor: pointer;
  }
}

.backToBattleButton{
  height: 40px;
  color: $black;
  background: $pink-400;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 12px;
  box-shadow:
          0px 2px 0px 0px #FFFFFF40 inset,
          0px -2px 0px 0px #00000040 inset;

}