@import "@/styles/variables";

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $gray-900;
  color: $gray-100;
  font-family: $font-poppins;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  background-color: black;
  border-radius: 16px;
  max-width: 400px;
  width: 100%;
}

.emoji {
  background-color: black;
  margin-bottom: 16px;
  // background-color: $primary-400; // Or any color that fits your design
  width: 64px; // Adjust as needed
  height: 64px; // Adjust as needed
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: center;
}

.reward {
  font-size: 16px;
  color: $gray-400;
}

.amount {
  font-size: 32px;
  font-weight: 700;
  color: $pink-400;
  margin-bottom: 24px;
}

.historyTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.historyContainer {
  width: 100%;
  margin-bottom: 24px;
}

.historyItem {
  justify-content: space-between;
  margin-bottom: 8px;
}

.fire {
  color: $gray-400;
}

.hit {
  color: $pink-500;
}

.lose {
  color: $pink-500;
}

.txLink {
  color: $pink-400;
  cursor: pointer;
}

.backButton {
  width: 100%;
  padding: 12px;
  background-color: $primary-white;
  color: $gray-900;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: $gray-200;
  }
}